<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8"/>
      <title>TheHufts</title>
      <meta name="description" content="test page"/>
      <meta name="viewport" content="width=device-width"/>
      <!-- Art's-->
      <!-- Bootstrap Core CSS-->
      <link href="creativ/default/css/bootstrap.min.css" rel="stylesheet"/>
      <link href="creativ/default/css/font-awesome.css" rel="stylesheet"/>
      <link href="stylesheets/animate.css" rel="stylesheet"/>
      <link href="stylesheets/default-style.css" rel="stylesheet"/>
      <link href="stylesheets/demo.css" rel="stylesheet"/>
      <!-- Plugins CSS-->
      <link href="admin/plugins/codemirror/codemirror.css" rel="stylesheet"/>
      <!-- Custom Fonts-->
      <script src="creativ/default/js/jquery.js"></script>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,600italic,700,700italic,900" rel="stylesheet" type="text/css"/>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      <div id="loader">
        <div class="loader-container">
          <div id="preloader_1"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
      </div>
      <header id="header-one" class="dark-header header">
        <div class="container-fluid">
          <div class="menu-wrapper">
            <div class="navbar-inner">
              <div class="navbar-header"><a id="brand" href="/landingPage" class="clearfix navbar-brand"><img src="imgs/thehuftsbrain.png" alt="TheHufts" style="height:0;width:7%;height:7%" data-selector="img"/><img src="" alt="TheHufts" data-selector="img"/></a>
              </div> <!-- end navbar-header-->
                <div class="navbar-right clearfix">
                  <ul class="nav navbar-nav">
                    <%if(!user){%>
                      <li class="wps-full"><a id="logIn" href="/logIn">Log In</a></li>
                      <li class="wps-full"><a id="signUp" href="/register">Sign Up</a></li>
                    <%}else{%>
                      <li class="wps-full"><a href="/dashboard">Dashboard</a>
                      <li class="wps-full"><a id="signOut" href="/logout">Sign Out</a></li>
                    <%}%>
                  </ul>
                </div> <!-- end navbar-right-->
            </div> <!-- end navbar inner -->
          </div> <!-- end menu wrapper-->
        </div> <!-- end container fluid -->
      </header> <!-- end header-->
      <div class="container">
        <h1 style="font-size: 100px; margin:0 0 0 auto; height: 15%">Welcome to the docs</h1>
        <div class="row">
          <div id="leftCol" class="col-md-3">
            <ul id="sidebar" class="nav nav-stacked">
              <li><a href="#intro">Intro</a></li>
              <li><a href="#openFile">Open a new File</a></li>
              <li><a href="#decFunc">Declare a Function</a></li>
              <li><a href="#arrayArg">Take an array as an argument</a></li>
              <li><a href="#loopArr">Loop through the array</a></li>
              <li><a href="#twoKeys">Return an object that has two keys</a></li>
              <!-- end ul-->
            </ul>
          </div>
          <div class="col-md-9">
            <h1 id="intro">Intro</h1>
            <h5>Hey there! You’re looking at the docs! Let’s dive in.</h5>
            <div style="height:40%"></div>
            <h1 id="openFile">Open a new File!</h1>
            <div style="height:40%"></div>
            <h1 id="decFunc">Declare a Function!</h1>
            <div class="box-content">
              <input type="button" class="btn btn-outline btn-info dim" value="Javascript" id="swap1" onClick="swapJS()"/>
              <input type="button" class="btn btn-outline btn-info dim" value="C++" id="swap2" onClick="swapCPlus()"/>
              <input type="button" class="btn btn-outline btn-info dim" value="Ruby" id="swap1" onClick="swapRuby()"/>
              <input type="button" class="btn btn-outline btn-info dim" value="Python" id="swap2" onClick="swapPython()"/>
            </div>
            <div id="cmContainer" style="width:50%"></div>
            <br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br>
            <h1 id="arrayArg">Take an array as an argument</h1>
            <br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br>
            <h1 id="loopArr">Loop through the array</h1>
            <br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br>
            <h1 id="twoKeys">Return an object that has two keys</h1>
          </div>
        </div>
      </div><!--  container -->
        <!-- Art's scripts-->
        <!-- jQuery-->
      <script src="creativ/default/js/bootstrap.min.js"></script>
      <script src="creativ/default/js/retina.js"></script>
      <script src="creativ/default/js/home-scripts.js"></script>
      <!-- Mainly scripts-->
      <script src="admin/plugins/metisMenu/jquery.metisMenu.js"></script>
      <script src="admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
      <!-- Custom and plugin javascript-->
      <!-- CodeMirror-->
      <script src="admin/plugins/codemirror/codemirror.js"></script>
      <script src="admin/plugins/codemirror/mode/javascript/javascript.js"></script>
      <script type="text/javascript" src="/javascript/demo.js"></script>
      <!--if lt IE 10script(src='assets/js/placeholder.js')
      -->
      <!-- initialize globoal js variables-->
      <script type="text/javascript" src="/javascript/globalVariables.js"></script>
    </body>
</html>
